body {
    background-color: lightblue;
}

p { 
    text-align: center; 
    font-weight: bold;
}

h1 {
    color: black; 
    text-align: center; 
    font-weight: bold; 
    font-family:'Times New Roman', Times, serif;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px; 
}

hr {
    height: 6px; 
    color: black;
    background-color: black;
    margin-bottom: 25px;
}

div {
    text-align: center;
}

a {
    display: inline-block;
    width: 150px;
    margin: auto;
}


